<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HackyPaws</title>
    <link rel="stylesheet" href="static/css/pico.min.css" />
    <link rel="stylesheet" href="static/css/hackypaws.css" />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <h1>HackyPaws Pet Adoption</h1>
        <p>Where Every Paw is Protected</p>
        <hr class="rounded-divider">
      </hgroup>
      <div class="grid">
        <div>
          <h4>Pupper 1</h4>
          <p>this is a good dog</p>
          <button class="contrast">Adopt Me!</button>
          <br><br>
          <img
            src="/static/img/hacker-dh.png"
            alt="Minimal landscape"
          />
          <hr class="rounded-divider-small">
        </div>
        <div>
          <h4>Pupper 2</h4>
          <p>this is a good dog</p>
          <button class="contrast">Adopt Me!</button>
          <br><br>
          <img
            src="/static/img/chiween.png"
            alt="Minimal landscape"
          />
          <hr class="rounded-divider-small">
        </div>
        
      </div>
    </header>
  </body>
</html>