<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HackyPaws</title>
    <link rel="stylesheet" href="/static/css/pico.min.css" />
    <link rel="stylesheet" href="/static/css/hackypaws.css" />
  </head>
  <body>
    <header class="container">
      <hgroup>
        <h1>HackyPaws Admin</h1>
        <p>Where Every Paw is Protected</p>
        <hr class="rounded-divider">
      </hgroup>
    <form action="create" method="post" enctype="multipart/form-data">
        <p>Name</p>
        <input type="text" id="name" name="name" placeholder="" />
        <p>Type</p>
        <select id="select" name="animal" required>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
        </select>
        <p>Adoption Description</p>
        <textarea
            name="description"
            placeholder="This is the cutest paw pal..."
            aria-label="This is the cutest paw pal..."
            rows="5"></textarea>
        <p>Profile Pic</p>
        <input name="profile_pic" type="file" />
        <br>
        <input type="submit" />
    </form>
    </header>
  </body>
</html>